<ul class="side-nav" id="cart-nav">
  <!-- Cart Header -->
  <div class="valign-wrapper">
    <a href="#"><i class="material-icons">close</i></a>
    <h5 class="black-text header-text cart-heading">CART</h5>
  </div>

  <!-- Cart Content -->
  <div class="cart-content body-text">
    <div>
      <h6 class="grey-text center"><u id="ftp-cart-link" onclick="ftp()">Please send XALER your documentation before purchasing.</u></h6> <!-- should add a link to /ftp here -->
      <hr class="line-break"/>
      <h6 class="black-text center">Unverified patients will have their order refunded and not delivered.</h6>

      <!-- Table of Cart Items -->
      <table class="bordered black-text cart-table">
        <thead>
        <tr>
          <th data-field="id">ITEM(S)</th>
          <th data-field="name">QTY</th>
          <th data-field="price">PRICE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1/4 - Supreme Blue Dream</td>
          <td>1</td>
          <td>$45</td>
        </tr>
        </tbody>
      </table>
      <h5 class="black-text right" style="margin-right: 20px;">Total: $45</h5>
    </div>
  </div>

  <!-- Checkout Button -->
  <div class="checkout-cart-button">
    <a class="btn contact-us-text grey white-text" style="height: 50px" href="https://www.paypal.com">Checkout via PayPal</a>
  </div>
</ul>
