<div id="cart-modal" class="modal"> <!-- in the future, pass in product info -->
  <div class="modal-content">
    <div class="container">
      <h5 class="header-text black-text center">Added to Cart!</h5>
    </div>
  </div>
</div>