<footer class="page-footer xaler-blue contact-us-footer hide-on-med-and-down">
  <div class="row">
    <h5 class="header-text white-text contact-us-text">CONTACT US AT (424) 261 - 9333</h5>
  </div>
</footer>

<footer class="page-footer xaler-blue contact-us-footer hide-on-large-only">
  <div class="row">
    <h5 class="sub-header-text white-text contact-us-text">CONTACT US AT (424) 261 - 9333</h5>
  </div>
</footer>

<!-- Need to make this stick to the bottom of the page until it hits the footer -->