<div id="contact-us-modal" class="modal">
  <div class="modal-content">
    <h5 style="text-align:center;">Contact Us</h5>
    <p style="text-align: center;">Your time is important to us. <br>
      <br>
      We at XALER are determined to offer you <br>
      information and assistance as quickly as possible.<br>
      If you have any questions or concerns, <br>
      please call our office at (424) 261 - 9333.<br>
      You can also place your order over the phone with us. <br>
      Our store hours are: 11:00am - 11:00pm every day. <br>
      We look forward to speaking with you!<br>
    </p>
  </div>
</div>
