<footer class="page-footer xaler-blue contact-us-footer hide-on-med-and-down sticky">
  <a href="#contact-us-modal">
    <div class="row">
      <h5 class="white-text contact-us-text">Have questions? Call us at (424) 261 - 9333.</h5>
    </div>
  </a>
</footer>

<footer class="page-footer xaler-blue contact-us-footer hide-on-large-only sticky">
  <a href="#contact-us-modal">
    <div class="row">
      <h5 class="white-text contact-us-text">Have questions? Call us.</h5>
    </div>
  </a>
</footer>