<div id="contact-us-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5 class="header-text">CONTACT US</h5>
    <div id="contact-info" style="margin: 0 auto; display: block; text-align: center;">
      <p class="contact-us-subtitle">Hours of Operation</p>
      <p class="contact-us-info">Monday - Thursday: 11:00am - 11:00pm<br>
        Friday & Saturday:12:00pm - 11:59am</p>
      <p class="contact-us-subtitle">Phone Number</p>
      <p class="contact-us-info">(424) 261 - 9333</p>
    </div>
    <p>
      We at XALER are determined to offer you
      information and assistance as quickly as possible.
      If you have any questions or concerns,
      please call our office.
      You can also place your order over the phone with us.
      We look forward to speaking with you!
    </p>
  </div>
  <div class="modal-footer">
    <button href="javascript:void(0)" class="modal-action modal-close waves-effect waves-black btn-flat" type="submit" name="action">
      Text
    </button>
    <button href="javascript:void(0)" class="modal-action modal-close waves-effect waves-black btn-flat" type="submit" name="action">
      Call
    </button>
  </div>

</div>
