<div id="delivery-area-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5 class="header-text">DELIVERY AREA</h5>
    <h5 class="body-text grey-text">The highlighted areas indicate the location XALER offers its delivery services to.</h5>
  </div>
  <div class="delivery-area-image center">
    <img class="" src="images/skywalker-og.jpg" alt="itemImage">
  </div>
</div>