<div id="footer-anchor"></div>
<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="header-text white-text">XALER</h5>
        <h6 class="body-text white-text"><a href="/ftp">FIRST TIME PATIENTS</a></h6>
        <h6 class="body-text white-text"><a href="/legal">LEGAL</a></h6>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="header-text white-text">Connect</h5>
        <h6 class="body-text white-text">Instagram</h6>
        <h6 class="body-text white-text">Facebook</h6>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="body-text container">
      © 2017 XALER
    </div>
  </div>
</footer>
