<div id="footer-anchor"></div>
<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="footer-header-text white-text">XALER</h5>
        <h6><a href="/service">OUR SERVICES</a></h6>
        <h6><a href="/ftp">FIRST TIME PATIENTS</a></h6>
        <h6><a href="/legal">LEGAL</a></h6>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="footer-header-text white-text">CONNECT</h5>
        <h6><a href="javascript:void(0)">INSTAGRAM</a></h6>
        <h6><a href="javascript:void(0)">FACEBOOK</a></h6>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="body-text container">
      © 2017 XALER
    </div>
  </div>
</footer>
