<div id="ftp-discount-modal" class="modal discount-modals">
  <div class="card-image center">
    <img class="" src="images/skywalker-og.jpg" alt="itemImage">
  </div>
  <div class="card-content">
    <h5 class="header-text black-text center">FIRST TIME PATIENT DISCOUNT</h5>
    <ul>
      <li>1.FTP will receive a gift box</li>
      <li>a.Glass Jar (if bud is ordered)</li>
      <li>b. Raw cone (unfilled)</li>
      <li>2. 10% off entire order</li>
      <li>3. FTP deal cannot be combined with any other deal or credits.</li>
      <li>4. Minimum donation: $35</li>
    </ul>
    <p>PLEASE NOTE: *Promotions cannot be stacked.</p>
  </div>
</div>
