<div id="military-discount-modal" class="modal">
  <div class="modal-content">
    <div class="container">
      <h5 class="header-text black-text center">MILITARY DISCOUNT</h5>
      <p>Show us your military ID for a 10% discount on your order.</p>
      <h6>PLEASE NOTE: *Promotions cannot be stacked.</h6>
    </div>
  </div>
</div>
