<div id="military-discount-modal" class="modal discount-modals">
  <div class="modal-content">
    <h5 class="header-text black-text center">MILITARY DISCOUNT</h5>
    <p>Show us your military ID for a 10% discount on your order.</p>
    <p>PLEASE NOTE: *Promotions cannot be stacked.</p>
  </div>
</div>
