<div class="navbar-fixed">
  <nav class="nav-extended grey darken-4">
    <div class="nav-wrapper">
      <img src="/images/xaler.png" alt="logo" class="nav-bar-icon brand-logo hide-on-med-and-down" onclick="home();"/>
      <img src="/images/xaler.png" alt="logo2" class="nav-bar-icon brand-logo center hide-on-large-only"
           onclick="home();"/>
      <a href="#" data-activates="mobile-nav" class="button-collapse menu-button"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="left hide-on-med-and-down" style="margin-left: 70px;">
        <li><a id="menu-nav" class="nav-links" href="/#menu">MENU</a></li>
        <li><a class="nav-links" href="/ftp">FIRST-TIME PATIENT</a></li>
        <li><a class="nav-links" href="/service">OUR SERVICES</a></li>
        <li><a class="nav-links" href="/legal">LEGAL</a></li>
      </ul>

      <!-- Cart -->
      <ul class="right">
        <li>
          <a href="#" id="cart-icon-mobile" data-activates="cart-nav" class="button-collapse cart-button"><i class="material-icons">shopping_cart</i></a>
          <a href="#" data-activates="cart-nav" class="hide-on-med-and-down cart-button"><i class="material-icons">shopping_cart</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
{{> sidenav}}
{{> cart}}