<div id="passwordModal" class="modal">
  <div class="modal-content">
    <div class="container">
      <h5>Reset Password</h5>
      <div class="row">
        <form id="resetPasswordForm" novalidate="novalidate" onsubmit="resetPassword()" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <label for="emailReset">Email</label>
              <input id="emailReset" name="email" type="email" data-error=".emailResetError">
              <div class="emailResetError"></div>
            </div>
          </div>
          <button id="signUpButton" class="btn waves-effect waves-light" type="submit" name="action">Send Email
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>

<script>
  $("#resetPasswordForm").validate({
    rules: {
      email: {
        required: true,
        email: true
      }
    },
    messages: {
      email: {
        required: "Please enter your email",
        email: "Please enter a valid email"
      }
    },
    errorElement: 'div',
    errorPlacement: function (error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });
</script>