<div id="product-modal" class="modal">
  <div class="card-image center">
    <img class="" src="images/skywalker-og.jpg" alt="itemImage">
  </div>
  <div class="card-content item-content item-modal-content">
    <div class="container">
      <h5 id="product-modal-name" class="product-names-modal-text"></h5>
      <p id="product-modal-strain" class="strains-modal-text"></p>
      <p id="product-modal-desc" class="body-modal-text"></p>
    </div>
    <div id="item-options" class="item-quantity">
      <span id="product-modal-eighth" class="quantity measurements"></span>
      <span id="product-modal-fourth" class="quantity measurements"></span>
      <span id="product-modal-half" class="quantity measurements"></span>
      <span id="product-modal-oz" class="quantity measurements"></span>
      <span id="product-modal-one" class="quantity measurements"></span>
      <span id="product-modal-two" class="quantity measurements"></span>
      <span id="product-modal-per" class="quantity"></span>
    </div>
  </div>
  <div class="card-action">
    <a class="add-cart-btn btn" href="#cart-modal">Add to Cart</a>
  </div>
</div>
