<div id="referral-discount-modal" class="modal discount-modals">
  <div class="modal-content">
    <h5 class="header-text black-text center">REFERRAL DISCOUNT</h5>
    <p>If you refer someone to Xaler, we will credit you and your referral with a 15% discount to use on the NEXT order. </p>
    <p>PLEASE NOTE: *Promotions cannot be stacked.</p>
  </div>
</div>
