<div id="referral-discount-modal" class="modal">
  <div class="modal-content">
    <div class="container">
      <h5 class="header-text black-text center">REFERRAL DISCOUNT</h5>
      <p>If you refer someone to Xaler, we will credit you and your referral with a 15% discount to use on the NEXT order. </p>
      <h6>PLEASE NOTE: *Promotions cannot be stacked.</h6>
    </div>
  </div>
</div>
