<ul class="side-nav" id="mobile-nav">
  <div class="valign-wrapper header-banner grey darken-4">
    <img class="header-image" src="/images/xaler.png" alt="logo"/>
    <a href="#"><i class="material-icons right-inline white-text">close</i></a>
  </div>

  <li><a id="deals-side-nav" class="sub-header-text" href="/#deals">DEALS</a></li>
  <li><a id="menu-side-nav" class="sub-header-text" href="/#menu">MENU</a></li>
  <li><a id="ftp-side-nav" class="sub-header-text" href="/ftp">FIRST-TIME PATIENT</a></li>
  <li><a class="sub-header-text" href="/services">OUR SERVICES</a></li>
  <li><a class="sub-header-text" href="#email-sub-modal">SUBSCRIBE</a></li>
  <li><a class="sub-header-text" href="/legal">LEGAL</a></li>

  <!-- Contact Number-->
  <div class="pin-bottom">
    <a class="btn nav-bar-footer sub-header-text grey white-text" href="#">(424) 261 - 9333</a>
  </div>
</ul>