<ul class="side-nav" id="mobile-nav">
  <div class="valign-wrapper header-banner grey darken-4">
    <img class="header-image" src="/images/xaler.png" alt="logo"/> <!-- ever so slightly off center -->
    <a href="#"><i class="material-icons right-inline white-text">close</i></a>
  </div>

  <li><a id="deals-side-nav" class="sub-header-text" href="/#deals">DEALS</a></li>
  <li><a id="menu-side-nav" class="sub-header-text" href="/#menu">MENU</a></li>
  <li><a id="ftp-side-nav" class="sub-header-text" href="/ftp">FIRST TIME PATIENT</a></li>
  <li><a class="sub-header-text" href="#delivery-area-modal">DELIVERY AREA</a></li>
  <li><a class="sub-header-text" href="#email-sub-modal">EMAIL SUBSCRIPTION</a></li> <!-- might need a new handlebar for non home pages? -->
  <li><a class="sub-header-text" href="/legal">LEGAL</a></li> <!-- alternatively, use hacky way to change window.location.href -->

  <!-- Contact Number-->
  <div class="pin-bottom">
    <a class="btn nav-bar-footer sub-header-text grey white-text" href="#">(424) 261 - 9333</a> <!-- needs to open modal-->
  </div>
</ul>