<div id="thankyou-modal" class="modal"> <!-- in the future, pass in product info -->
  <div class="modal-content">
    <div class="container">
      <h5 class="header-text center">Thank you!</h5>
      <p>You have successfully submitted your First-Time Patient Form. You should have received
        a text-message from us about your First-Time Patient Deal. If you haven't, please contact us.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="/#menu"><button class="modal-action modal-close waves-effect waves-black btn-flat">
      Explore Our Inventory
    </button></a>
  </div>
</div>
