<div id="thankyou-modal" class="modal"> <!-- in the future, pass in product info -->
  <div class="modal-content">
    <div class="container">
      <h5 class="header-text black-text center">Thank you for submitting your First-Time Patient Form! Please view our menu.</h5>
    </div>
  </div>
</div>
