<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XALER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{> head-imports}}
</head>
<body>
{{> navbar}}
<div id="first-time-patient">
<div class="container">
  <div class="row">
    <div class="col l6 m6 s12">
      <div id="form-content">
      <h3 class="center title-text" id="FTPH"> FIRST-TIME PATIENT GUIDELINES</h3>
      <ul>
        <li><span class="main-step">1. Explore the menu!</span></li>
        <li><span class="main-step">2. Contact us to place your order</span>
          <ul>
            <li>*Feel free to call/text/email us about any questions or comments. We are here to serve you!</li>
            <li>a. Please text us a picture of your California ID and doctor’s recommendation</li>
            <li>b. In a separate text message - please send us your delivery address.</li>
            <li>**Alternatively to steps a and b, fill out and submit the First-Time Patient Form**</li>
            <li>c. We will confirm our receipt of your messages. If you don't hear from us - please call because technology is not perfect.</li>
            <li>d. We will ask you for your order and help you along the way!</li>
          </ul>
        </li>
        <li><span class="main-step">3. Time for your delivery!</span><br>We will give you an accurate ETA time and we'll update you along the process at your request.
        If you would like to see our products before you donate, let us know! We offer a full presentation or a simple product viewing, the choice is yours!</li>
        <li><span class="main-step">4. Enjoy your cannabis products!</span><br>*If there are products that you would like that are not on the menu - please help us by texting us to let us know what it is so we can try to carry it in the future!</li>
      </ul>
      <h3 class="center title-text" id="FTPH"> FIRST-TIME PATIENT DEAL</h3>
      <ul>
        <li><span class="main-step">1. FTP will receive a gift box:</span>
          <ul>
            <li>a. XALER Hemp Wick</li>
            <li>b. Raw cone (unfilled)</li>
          </ul>
        </li>
        <li><span class="main-step">2. 10% off entire order</span></li>
        <li><span class="main-step">3. FTP deal cannot be combined with any other deal or credits.</span></li>
        <li><span class="main-step">4. Minimum donation: $35</span></li>
      </ul>
    </div>
    </div>
    <div class="col l6 ml6 s12">
      <h3 class="center title-text" id="FTPH"> FIRST-TIME PATIENT FORM</h3>
      <form id="ftp-form" novalidate="novalidate" onsubmit="console.log(3);">
        <div class="input-field">
          <label for="firstName">Your First Name</label>
          <input id="firstName" name="firstName" type="text" data-error=".firstNameError">
          <div class="firstNameError"></div>
        </div>
        <div class="input-field">
          <label for="lastName">Your Last Name</label>
          <input id="lastName" name="lastName" type="text" data-error=".lastNameError">
          <div class="lastNameError"></div>
        </div>
        <div class="input-field">
          <label for="phoneNumber">Your Phone Number</label>
          <input id="phoneNumber" name="phoneNumber" type="text" data-error=".phoneNumberError">
          <div class="phoneNumberError"></div>
        </div>
        <div class="input-field">
          <label for="email">Your Email</label>
          <input id="email" name="email" type="email" data-error=".emailError">
          <div class="emailError"></div>
        </div>
        <div class="input-field">
          <label for="email">Your Delivery Address</label>
          <input id="address" name="address" type="text" data-error=".addressError">
          <div class="addressError"></div>
        </div>
        <div class="file-field input-field" id="uploadID">
           <div class="btn">
             <span>UPLOAD IDENTIFICATION*</span>
             <input type="file">
           </div>
           <p>*Only Accepts Passport or Driver’s License</p>
         </div>
         <div class="file-field input-field" id="uploadDoctor">
           <div class="btn">
             <span>UPLOAD DOCTOR'S RECOMMENDATION</span>
             <input type="file">
           </div>
         </div>
          <button id="ftp-submit-button" class="btn" type="submit" name="action">Submit Form</button>
        </form>
      </div>
  </div>
</div>
</div>

{{> email-sub-modal}}
{{> contactus}}
{{> footer}}
{{> scripts}}
{{> contact-us-modal}}
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script>
  $("#ftp-form").validate({
    rules: {
      firstName: {
        required: true,
        minlength: 1
      },
      lastName: {
        required: true,
        minlength: 1
      },
      phoneNumber: {
        required: true,
        minlength: 10
      },
      email: {
        required: true,
        email: true
      },
      address: {
        required: true
      }
    },
    messages: {
      firstName: {
        required: "Please enter your first name"
      },
      lastName: {
        required: "Please enter your last name"
      },
      phoneNumber: {
        required: "Please enter your phone number"
      },
      email: {
        required: "Please enter your email",
        email: "Please enter a valid email"
      },
      address: {
        required: "Please enter your delivery address",
      }
    },
    errorElement: 'div',
    errorPlacement: function (error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });
</script>
<style>
  .firstNameError, .lastNameError, .emailError, .phoneNumberError, .addressError {
    color: red;
    font-size: 12px;
    font: 'Nunito';
    font-weight: 400;
  }
</style>
</body>
</html>
