<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XALER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.css"/>
  <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
{{> navbar}}

<!-- Carousel --> <!-- doesn't work on mobile? -->
<div id="xaler-carousel" class="carousel carousel-slider center" data-indicators="true">
  <a class="carousel-item" href="#one!"><img class="responsive-img" src="../images/corgi_friendler.png"></a>
  <a class="carousel-item" href="#two!"><img class="responsive-img" src="../images/corgi_friendler.png"></a>
  <a class="carousel-item" href="#three!"><img class="responsive-img" src="../images/corgi_friendler.png"></a>
  <a class="carousel-item" href="#four!"><img class="responsive-img" src="../images/corgi_friendler.png"></a>
</div>
<hr>

{{> contactus}}
{{> footer}}

{{> scripts}}
</body>
</html>