<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XALER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"/>
  <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
{{> navbar}}

  <div class="container">
    <h2 class="header-text black-text">LEGAL</h2>
    <h4 class="sub-header-text">Februrary 28, 2017</h4>
    <p id="legal" class="body-text">
      XALER (“Collective”), a Central Organization Cooperative Corporation organized under Section 12200, et seq.,
      of the California Corporations Code and registered with the Office of the Secretary of State for the State of
      California (Entity No. C3946517), facilitates the association of qualified medical patients for the purpose of
      collectively cultivating medical cannabis for its members, pursuant to Health and Safety Code sections
      11362.765 and 11362.775. The Collective is dedicated to providing its members with the highest level and
      quality of service pursuant to the Compassionate Use Act and Medical Marijuana Program Act (Health & Safety
      Code §§ 11362.5, et seq.). This Membership Application and Agreement (“Agreement”) contains member
      requirements and guidelines to: ensure compliance with the Compassionate Use Act, the Medical Marijuana
      Program Act and the 2008 Attorney General’s Guidelines for the Security and Non-Diversion of Marijuana
      Grown for Medical Use; comply in all ways possible with each of the tenets of the United States Department of
      Justice’s August 29, 2013 Memorandum authored by Deputy Attorney General James M. Cole, including 1)
      preventing the distribution of marijuana to minors, 2) preventing revenue from the sale of marijuana from going
      to criminal enterprises, gangs, and cartels, 3) preventing the diversion of marijuana from states where it is legal
      under state law in some form to other states, 4) preventing state-authorized marijuana activity from being used
      as a cover or pretext for the trafficking of other illegal drugs or illegal activity; 5) preventing violence and the
      use of firearms in the cultivation and distribution of marijuana; 6) preventing drugged driving and the
      exacerbation of other adverse public health consequences associated with marijuana use; 7) preventing the
      growing of marijuana on public lands and the attendant public safety and environmental dangers posed by
      marijuana production on public lands; and 8) preventing marijuana possession or use on federal property to
      protect the safety; to further the health and well-being of each of the Collective’s patient-members; and to
      continue to create a member-run, community-based, alternative healing and wellness organization. Lastly, the
      Collective complies with the Medical Cannabis Regulation and Safety Act (“MCRSA”), October 2015.
      The Collective is lawfully organized as a central organization cooperative, as defined in the California Corporate
      Code § 12256. California Corporate Code allows for entities organized as cooperative corporations to be
      members of other cooperative corporations. (Cal. Corp. Code § 12200 et al). Specifically, a central
      organization is a cooperative corporation whose membership is composed, in whole or in part, of other
      collectives properly organized under California Corporate Code section 12200 et al. As a central organization
      cooperative, Collective has both patient-members as natural persons, and has other medical marijuana
      collectives as members.
    </p>
  </div>

{{> contactus}}
{{> footer}}

{{> scripts}}
</body>
</html>