<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XALER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{> head-imports}}
</head>
<body>
{{> navbar}}

<div id="service-page">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <div id="service-content">
          <h3 class="center title-text" id="FTPH"> ABOUT US</h3>
          <p style="text-align:center">XALER (ZAY-ler)</p>
          <p id="service">
            Our team is built with hard working people in order to give you an elite cannabis-experience.
            By offering high quality, clean, top of the industry, and consistent products along with top class service,
            our #1 goal is to gain your trust as a loyal and returning patient. A portion of the flower on our menu is cultivated by us. Our experienced growers have 10+ years of experience,
            growing with 100% hydroponics. No pesticides. 14 day flush. 14 day slow cure in perfect environmental conditions.
            Nothing we do is ever rushed so that every patient has pure, clean, and potent flower. We love what we do.
            Check the banners on our homepage to see our current promotions and deals.
          </p>
          <div class="row">
            <div class="col l6 s12">
              <h3 class="center title-text" id="FTPH">HOURS OF OPERATIONS</h3>
              <p class="center title-text" id="service">SUN TO THUR: 11:00 AM - 11:00PM</p>
              <p class="center title-text" id="service">FRI TO SAT: 12:00 PM - 11:59 PM</p>
            </div>
            <div class="col l6 s12">
              <h3 class="center title-text" id="FTPH">CONTACT US</h3>
              <p class="center title-text" id="service">PHONE: 424 261 9333</p>
              <p class="center title-text" id="service">EMAIL: xalercollective@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col l6 s12">
        <div id="delivery-content">
          <h3 class="center title-text" id="FTPH">DELIVERY AREAS</h3>
          <p id="service">
            Now serving West Hollywood, Santa Monica, West Los Angeles, Venice, <br>Marina Del Rey, Culver City, and surrounding areas.
          </p>
          <div style="text-align:center">
            <a href="#delivery-area-modal"><img id="delivery-img" src="images/delivery.png" alt="itemImage"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> email-sub-modal}}
{{> delivery-area-modal}}
{{> contactus}}
{{> footer}}
{{> scripts}}
{{> contact-us-modal}}
</body>
</html>
