<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XALER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{> head-imports}}
</head>
<body>
{{> navbar}}
  
<div class="container" style="display:block">
  <div class="col s8 offset-s2">
    <h3 class="center title-text" id="FTPH"> OUR SERVICES</h3>
  </div>
  
  //DELIVERY AREA
  <div class="row" id="column">
    <ul>
      <li>West Hollywood</li>
      <li>Santa Monica</li>
      <li>West Los Angeles</li>
      <li>Venice</li>
      <li>Marina Del Rey</li>
      <li>Culver City</li>
    </ul>
  
  </div>
  
</div>

{{> email-sub-modal}}
{{> delivery-area-modal}}
{{> contactus}}
{{> footer}}
{{> scripts}}
</body>
</html>