<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XALER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{> head-imports}}
</head>
<body>
{{> navbar}}
  
<div class="container" style="display:block">
  <div class="col s8 offset-s2">
    <h3 class="center title-text" id="FTPH"> OUR SERVICES</h3>
  </div>
  
  <div class="row">
    <div class="col s6">
    <ul>
      <li id="#FTPSub">West Hollywood</li>
      <li id="#FTPSub">Santa Monica</li>
      <li id="#FTPSub">West Los Angeles</li>
      <li id="#FTPSub">Venice</li>
      <li id="#FTPSub">Marina Del Rey</li>
      <li id="#FTPSub">Culver City</li>
    </ul>
  </div>
  <div col s6>
    <img id="delivery_img"src="images/delivery.png" alt="itemImage">
  </div>
  </div>
</div>
{{> email-sub-modal}}
{{> contactus}}
{{> footer}}
{{> scripts}}
</body>
</html>