.body {
    font-family: 'Nunito', sans-serif;
}

.display-text {
    font-family: 'Nunito', sans-serif !important;;
    font-style: normal !important;
    font-weight: 500;
    font-size: 30pt !important;
}

.header-text {
    font-family: 'Nunito', sans-serif !important;;
    font-style: normal !important;
    font-weight: 500;
    font-size: 18pt !important;
}

.sub-header-text {
    font-family: 'Nunito', sans-serif !important;;
    font-style: normal !important;
    font-weight: 500;
    font-size: 16pt !important;
}

.body-text {
    font-family: 'Open Sans', sans-serif !important;;
    font-style: normal !important;
    font-weight: 400;
    font-size: 14pt !important;
}

.strains-text {
    font-family: 'Open Sans', sans-serif !important;;
    font-style: normal !important;
    font-weight: 700;
    font-size: 14pt !important;
}

.product-names-text {
    font-family: 'Nunito', sans-serif !important;;
    font-style: normal !important;
    font-weight: 300;
    font-size: 20pt !important;
}

.prices-text {
    font-family: 'Open Sans', sans-serif !important;;
    font-style: normal !important;
    font-weight: 600;
    font-size: 14pt !important;
}

.nav-bar-icon {
    position: absolute !important;
    top: 10px;
    left: 20px;
    height: 40px;
    width: 40px;
    padding: 5px;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 0 !important;
}

nav {
    padding-left: 15px;
    padding-right: 15px;
}

.cart-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    vertical-align: middle;
}

.line-break {
    height: 20px;
    visibility: hidden;
}

.cart-content {
    padding-left: 15px;
    padding-right: 15px;
}

.cart-table {
    line-height: 20px;
}

#cart-modal {
    width: 20em;
}

.nav-bar-footer {
    position: fixed;
    bottom: 0;
    width: 300px;
    margin: 0 !important;
    padding: 0 !important;
}

.right-inline {
    position: absolute;
    right: 15px;
    top: 1px;
}

.header-banner {
    height: 150px;
}

.header-image {
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
}

.carousel-dimen {
    position: relative;
    height: 500px;
    margin: auto;
}

#legal {
    padding-left: 30px;
}

#ftp-submit-button {
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    vertical-align: middle;
}

#xaler-carousel {
    max-height: 500px;
}

#xaler-carousel img {
    max-height: 500px;
    width: auto;
}

.contact-us-footer {
    margin-bottom: 0 !important;
    padding: 0 !important;
    height: 50px;
}

.contact-us-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    vertical-align: middle;
    margin: 0 !important;
    padding: 5px !important;
}

/* Other XALER Repo */
/* Menu Style */
.menuFormat {
    padding: 20px 0px;
}

.container {
    width: 85% !important;
}

.sectionTitle {
    text-align: center;
    font-size: 2.5em;
}

.item {
    box-shadow: 0px 0px 5px 1px #EEEEEE;
    width: 100%;
    margin-bottom: 20px;
}

.itemContent {
    padding: 10px;
    text-transform: capitalize;
}

.itemImage {
    width: 100%;
}

.itemName {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#itemType {
    margin: 2px 0px;
}

.indica {
    color: blue;
}

.sativa {
    color: orange;
}

.hybrid {
    color: green;
}

.itemQuantity {
    align-items: center;
    display: flex;
}

.measurements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    height: 70px;
    width: 85px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: lowercase;
}

.measurements:hover,
#per:hover {
    border: 1px solid blue;
}

#per {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid transparent;
    height: 70px;
    width: 85px;
    text-align: center;
    margin: 0px auto 10px auto;
    text-transform: lowercase;
    justify-content: center;
}

.addCart {
    clear: both;
    display: block !important;
    margin: 0 auto;
    width: 90%;
    border-radius: 0;
    background-color: #000000 !important;
    color: #FFFFFF !important;
    border: 2px solid #000000 !important;
}

.btn {
    box-shadow: 0 0 0 0 !important;
}

.addCart:hover {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

/* Modal */
#cartModal {
    width: 250px !important;
    transform: translateY(-50%) !important;
}

#productModal {
    width: 350px !important;
    transform: translateY(-50%) !important;
}

#cartModal i,
#cartModal h5 {
    width: 200px;
    text-align: center;
}

#cartModal i {
    font-size: 4em;
}
