.display-text {
    font-family: 'Nunito', sans-serif !important;;
    font-style: normal !important;
    font-weight: 500;
    font-size: 30pt !important;
}

.header-text {
    font-family: 'Nunito', sans-serif !important;;
    font-style: normal !important;
    font-weight: 500;
    font-size: 18pt !important;
}

.sub-header-text {
    font-family: 'Nunito', sans-serif !important;;
    font-style: normal !important;
    font-weight: 500;
    font-size: 16pt !important;
}

.body-text {
    font-family: 'Open Sans', sans-serif !important;;
    font-style: normal !important;
    font-weight: 400;
    font-size: 14pt !important;
}

.strains-text {
    font-family: 'Open Sans', sans-serif !important;;
    font-style: normal !important;
    font-weight: 700;
    font-size: 14pt !important;
}

.product-names-text {
    font-family: 'Nunito', sans-serif !important;;
    font-style: normal !important;
    font-weight: 300;
    font-size: 20pt !important;
}

.prices-text {
    font-family: 'Open Sans', sans-serif !important;;
    font-style: normal !important;
    font-weight: 600;
    font-size: 14pt !important;
}

.nav-bar-icon {
    position: absolute !important;
    top: 10px;
    left: 20px;
    height: 40px;
    width: 40px;
    padding: 5px;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

nav {
    padding-left: 15px;
    padding-right: 15px;
}

.cart-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    vertical-align: middle;
}

.line-break {
    height: 20px;
    visibility: hidden;
}

.cart-content {
    padding-left: 15px;
    padding-right: 15px;
}

.cart-table {
    line-height: 20px;
}

.nav-bar-footer {
    position: fixed;
    bottom: 0;
    width: 300px;
    margin: 0 !important;
    padding: 0 !important;
}

.right-inline {
    position: absolute;
    right: 15px;
    top: 2px;
}

.header-banner {
    height: 150px;
}

.header-image {
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
}

.carousel-dimen {
    position: relative;
    height: 500px;
    margin: auto;
}

#legal {
    padding-left: 30px;
}

#ftp-submit-button {
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    vertical-align: middle;
}

#xaler-carousel {
    max-height: 500px;
}

#xaler-carousel img {
    max-height: 500px;
    width: auto;
}